.custom-group-price-wrapper {
  display: block;
  margin-top: 0.25rem;
  color: #92c020;
  font-size: 1.1rem;
  font-weight: 700;
  line-height: 1.2;
}

.custom-group-value {
  margin-right: 0.25rem;
}

.custom-group-label {
  font-size: 0.85em;
  font-weight: 600;
  text-transform: uppercase;
}
